{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search YouTube</title>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'dashboard/album.css' %}" rel="stylesheet">
  </head>
  <body>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Search YouTube</h1>
          <p class="lead text-muted">Get the top Fifteen results on YouTube for your query!</p>
          <!-- <form method="POST">
            <div class="input-group mb-3">
              {% csrf_token %}
              <input type="text" name="search" class="form-control" aria-label="Username">
            </div>
            <p>
              <button type="submit" name="submit" value="search" class="btn btn-primary my-2">YouTube Search</button>
              <button type="submit" name="submit" value="lucky" class="btn btn-secondary my-2">I'm Feeling Lucky</button>
            </p>
          </form> -->
        </div>
      </section>



<!-- Code for Selecting Filter Option ------------------------------------------------------------- -->
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row" id='dropdownn'>
            <div class = col>
              <form>
                Select sorting parmaters
                <select id="mySelect">
                  <option value="duration">duration</option>
                  <option value="datetime">date-time</option>
                </select>
              </form>
              <p id = "sorting">Click the button to change the sorted parameter.</p>
              <button type="button" onclick="mysorted()">Change</button>
            </div>
          </div>
        </div>
      </div>


<!-- code for conatiner for video cards -->
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row" id='accordion'>
          </div>
        </div>
      </div>

    </main>


    <script>

  // Code for onclick for filter option
      function mysorted(){
        var sortby  = document.getElementById("mySelect").value;
        console.log(sortby);
        getdata(sortby);
      }

  //APi url for fetching data
      const api_url = 'http://127.0.0.1:8000/search/refresh';


// Async Function for calling for data at given intervel
      async function getdata(sortby){
        document.getElementById('accordion').innerHTML = "";
        const response = await fetch(api_url,
        {
          method: 'GET'
        });
        const data = await response.json();

        printdata(data,sortby);
      }

 // Function for iterating HTML element
      function printdata(video_data,sortby){

        const container = document.getElementById('accordion');
        if(sortby!=undefined){
          if(sortby == 'datetime'){
            video_data.sort(function (a, b) {
                return a.publishtime.localeCompare(b.publishtime);
              });
          }
          if(sortby == 'duration'){
            video_data.sort(function (a, b) {
                return a.duration - b.duration;
              });
          }
        }

        console.log(video_data);
        video_data.forEach(video => {

          const content = `
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="${ video.thumbnail }" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
              <div class="card-body">
                <p class="card-text">${ video.title }</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button" href="${ video.url }" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                  <small class="text-muted">${ video.duration } mins</small>
                </div>
              </div>
            </div>
          </div>
          ` ;

          container.innerHTML += content;
        });

      }

// Caaling for data--------------
    getdata();

 // Calling in intervel for 10000 MS---------------------------------
    // setInterval(getdata,10000);
  </script>


</body>
</html>
